
<ul>
    {{#each burgers}}
     {{!-- {{#unless devoured}} --}}
      {{!-- {{> burgers/burger-block devoured=false}} --}}
    <li id="burger-{{this.id}}">
        <p>{{this.id}}.{{this.burger_name}}</p>
        <button id="{{this.id}}" data-devoured="{{this.devoured}}" class="devourer">Eat it</button>

    </li>
    {{!-- {{/unless}} --}}
    {{/each}}
</ul>

<p id="test"></p>

<h2>Devoured Burgers</h2>

<ul>
    {{#each burgers}}
    {{!-- {{#if devoured}}
        {{> burgers/devoured=true}}

    {{/if}} --}}
    {{/each}}
</ul>


<div class="form-group">
    <input type="text" id="burgername" name="name">
</div>

<button type="button" id="submitbutton">Submit Burger</button>


